.buttons {
  display: flex;
  padding-bottom: 4rem;
  width: 60%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.button {
  display: flex;
  font-size: 3rem;
  padding: 5px 20px;
  background-color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}
.button:hover {
  color: var(--text-color);
  background-color: black;
  transition: color 0.2s, background-color 0.2s;
}
