.container {
  width: 800px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(31, 31, 31, 0.8);
  box-shadow: 0 0 1em white;
  color: white;
}
.title h1 {
  font-size: 4rem;
}
